* {
  margin: 0;
  padding: 0
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-fluid {
  padding: 0; /* Remove padding from the container */
}

.row {
  margin: 0; /* Remove margin from the row */
}

.sidebar {
  background-color: white; /* Optional: Set sidebar background color */
}